input {
  background-repeat: no-repeat;
  background-image: url('./search.svg');
  background-position: 5%;
  background-size: 1.1em;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  margin: 18px;
  padding: 10px 40px;
  width: 220px;
}

input:focus {
  outline: none;
}

.container-giphy-list {
  background: #ececec;
  border-radius: 10px;
  margin-bottom: 24px;
  min-height: 408px;
  overflow-x: hidden;
  width: 336px;
}

.gif-downsized {
  width: 138px;
}

.gif-results-container {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.gif-upsized-container {
  display: flex;
  justify-content: center;
}

.gif-upsized {
  width: 90%;
}

.test {
  display: flex;
  justify-content: end;
}
