.search-container {
  align-items: center;
  align-content: center;
  border-radius: 50%;
  border: none;
  display: flex;
  height: 32px;
  margin: 0;
  width: 32px;
}

.border {
  border: 2px dashed #ffffff;
}
